body {
  color: var(--black, #000);
  background-color: var(--white, #fff);
}
.app {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.app .page-content {
  flex-grow: 1;
}
ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
.navbar.bg-light {
  background-color: var(--alt) !important;
}
.navbar .nav-link {
  color: var(--black);
}
.navbar .nav-link.active {
  color: var(--main);
}
label,
input[type="checkbox"] {
  cursor: pointer;
}
